<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>

	<!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/justified-nav.css}" />
    
    <link rel="stylesheet" th:href="@{/jquery/jstree_dist/themes/default/style.min.css}" />   
    
</head>
<body>
	
	    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">SGC - Système de gestion des cours</h3>
        <div role="navigation">
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script th:src="@{/jquery/jstree_dist/jstree.min.js}"></script>
	  <div class="maincontent">
	  
	  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	  <div class="row">	    
	    <div class="col-xs-6 col-md-4">
		  <div class="panel panel-default">
		  <div class="panel-heading" th:text="'Navigation'"></div>
		  	  <div class="panel-body">
		  	  <button type="button" class="btn btn-success btn-sm" onclick="demo_create();"><i class="glyphicon glyphicon-asterisk"></i> Create</button>
		  	  <button type="button" class="btn btn-warning btn-sm" onclick="demo_rename();"><i class="glyphicon glyphicon-pencil"></i> Rename</button>
		  	  <button type="button" class="btn btn-danger btn-sm" onclick="demo_delete();"><i class="glyphicon glyphicon-remove"></i> Delete</button>

			  <div id="jstree">
			    <!-- in this example the tree is populated from inline HTML -->
			    <ul>
			      <li>Root node 1
			        <ul>
			          <li id="child_node_1">Child node 1</li>
			          <li data-jstree='{"icon":"glyphicon glyphicon-leaf"}'>Child node 2</li>
			        </ul>
			      </li>
			      <li>Root node 2</li>
			    </ul>
			  </div>
			  <button>demo button</button>
			  </div>	  
		  </div>
	    </div>
	    <div class="col-xs-12 col-md-8">
		  <div class="panel panel-default">
		  <div class="panel-heading">Panel Content</div>
		  <div class="panel-body">
			<p th:text="'Hello, ' + ${name} + '!'"/>
			
			<div class="input-group">
			  <span class="input-group-addon">@</span>
			  <input type="text" class="form-control" placeholder="Username"/>
			</div>
			
			<div class="input-group">
			  <input type="text" class="form-control"/>
			  <span class="input-group-addon">.00</span>
			</div>
			
			<div class="input-group">
			  <span class="input-group-addon">$</span>
			  <input type="text" class="form-control"/>
			  <span class="input-group-addon">.00</span>
			</div>
			
			<select class="form-control">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
			
			<textarea class="form-control" rows="3"></textarea>
			
			<input type="text" class="form-control" placeholder="Text input"/>
			<button type="submit" class="btn btn-default">Submit</button>
			<input type="checkbox" value=""/>
		  </div>
		  </div>
	    </div>
	  </div>
	  
	  </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->
    
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>	
	
	<script>

	function demo_create() {
		var ref = $('#jstree').jstree(true),
			sel = ref.get_selected();
		if(!sel.length) { return false; }
		sel = sel[0];
		sel = ref.create_node(sel, {"type":"file"});
		if(sel) {
			ref.edit(sel);
		}
	};
	function demo_rename() {
		var ref = $('#jstree').jstree(true),
			sel = ref.get_selected();
		if(!sel.length) { return false; }
		sel = sel[0];
		ref.edit(sel);
	};
	function demo_delete() {
		var ref = $('#jstree').jstree(true),
			sel = ref.get_selected();
		if(!sel.length) { return false; }
		ref.delete_node(sel);
	};

	  $(function () {	
			var to = false;
			$('#demo_q').keyup(function () {
				if(to) { clearTimeout(to); }
				to = setTimeout(function () {
					var v = $('#demo_q').val();
					$('#jstree').jstree(true).search(v);
				}, 250);
			});
 
		  
	    // 6 create an instance when the DOM is ready
	    $('#jstree').jstree();
	    // 7 bind to events triggered on the tree
	    $('#jstree').on("changed.jstree", function (e, data) {
	      console.log(data.selected);
	    });
	    // 8 interact with the tree - either way is OK
	    $('button').on('click', function () {
	      $('#jstree').jstree(true).select_node('child_node_1');
	      $('#jstree').jstree('select_node', 'child_node_1');
	      $.jstree.reference('#jstree').select_node('child_node_1');
	    });
	  });
	  
	  
	</script>
	
</body>
</html>



